<h1>画像を編集する</h1>

<%= render 'form', picture: @picture %>

<button type="button" class="btn btn-info"><%= link_to '画像を見る', @picture %></button>
<button type="button" class="btn btn-info"><%= link_to '一覧画面に戻る', pictures_path %></button>
