<p id="notice"></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
</p>

<h2>コメント：<%= @picture.comment %></h2>

<% if logged_in? && @picture.user == current_user %>
<%= link_to '画像を編集する', edit_picture_path(@picture) %>
<% end %>
<%= link_to '画像一覧へ戻る', pictures_path %>
