<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
</p>



<%= link_to '画像を編集する', edit_picture_path(@picture) %> |
<%= link_to '画像一覧へ戻る', pictures_path %>
